.search-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #efefef;
    z-index: 1000;
    background: white;
}

.search-bar__input {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    padding: .5em .5em .5em 3em;
    box-sizing: border-box;
    background: #efefef;
    border: 0;
    width: 100%;
    max-width: 700px;
}

.search-bar__input--rounded {
    border-radius: .25em;
}

.search-bar__icon {
    position: absolute;
    top: calc(50% - 0.5em);
    font-size: 1.5em;
    left: 1em;
}
